/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Playfair+Display&display=swap');


/* Universal Selectors */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Nav Bar */
#name {
  margin-top: 22px;
  font-size: 69px;
  z-index: 2;
  font-family: 'Playfair Display';
  margin-left: 20px;
  letter-spacing: -8px;
}

#underline {
  top: 80px;
  position: absolute;
  z-index: 1;
}

nav {
  position: relative;
  background-color: #F4F6F4;
  border-bottom: 3px solid #CCE3DE;
}

#navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

li {
  display: inline;
  margin-right: 50px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

/* Hero Section */
#hero {
  width: 100vw;
  height: 500px;
  position: relative;
  background-image: url(../images/pexels-evie-shaffer-2748757.jpg);
  background-size: cover;
  background-position-y: -655px;
  border-bottom: 3px solid #CCE3DE;
  font-family: 'Comforter Brush', cursive;
}

#hero h2 {
  font-size: 60px;
  position: absolute;
}

#design {
  left: 380px;
  top: 130px;
  transform: rotate(-11deg);
}

#development {
  left: 490px;
  top: 230px;
}

#and {
  position: absolute;
  left: 520px;
  top: 170px;
  height: 70px;
}